:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --tretiary-background-color: #f4f4fd;
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --tretiary-color: #f4f4fd;
  --logo-web-color: #4d5ae5;
  --logo-studio-up-color: #2e2f42;
  --logo-studio-down-color: #f4f4fd;
  --hero-title-color: #ffffff;
  --primary-botton-color: #ffffff;
  --secondary-botton-color: #4d5ae5;
  --active-link-color: #404bbf;
  --item-gap: 24px;
  --head-paragraph-gap: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

/* ====================COMPONENTS==================== */

.chapter-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.chapter-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.chapter-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.section {
  padding-bottom: 120px;
}

.section-bottom-padding {
  padding-bottom: 120px;
}

/* ====================LOGOTYPE==================== */

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
}

.logotype-studio-up {
  color: var(--logo-studio-up-color);
}

.logotype-studio-down {
  color: var(--logo-studio-down-color);
}

/* ====================HEADER==================== */
.header-box {
  display: flex;
}

.navigation {
  display: flex;
  gap: 76px;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.navigation-link:hover,
.navigation-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--active-link-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--active-link-color);
}

.header-section {
  padding: 24px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;
}

/* ====================HERO==================== */
.hero {
  background-color: var(--secondary-background-color);
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
  width: 496px;
  margin: 0 auto 48px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-botton-color);
  background-color: var(--secondary-botton-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 169px;
  height: 56px;
  margin-top: 48px;
  display: block;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--active-link-color);
}

/* ====================VALUES==================== */

.values {
  padding-top: 120px;
}

.values-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--item-gap));
}

.values-list > .values-item {
  flex-basis: calc(100% / 4 - var(--item-gap));
  margin-left: var(--item-gap);
}

/* ACTIVITY */

.activity-chapter-margin {
  margin-bottom: 72px;
}

.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--item-gap));
}

.activity-item {
  flex-basis: calc(100% / 3 - var(--item-gap));
  margin-left: var(--item-gap);
}

/* ====================OUR TEAM==================== */

.team {
  background-color: var(--tretiary-background-color);
  padding-top: 120px;
}

.box-team {
  text-align: center;
  padding: 32px 16px;
}

.team-subtitle {
  margin-bottom: var(--head-paragraph-gap);
}

.team-item {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-chapter-margin {
  margin-bottom: 69px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--item-gap));
}

.team-item {
  flex-basis: calc(100% / 4 - var(--item-gap));
  margin-left: var(--item-gap);
}

/* ====================PORTFOLIO==================== */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
  margin-left: -24px;
}

.portfolio-menu-item {
  flex-basis: calc(100% / 3 - 24px);
  margin-top: 48px;
  margin-left: 24px;
  border: 1px solid #e7e9fc;
}

.portfolio-menu-subtitle {
  margin-bottom: var(--head-paragraph-gap);
}

.portfolio-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.menu-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-botton-color);
  background-color: var(--tretiary-background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.menu-button:hover,
.menu-button:focus {
  color: var(--primary-botton-color);
  background-color: var(--active-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.menu-button-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.potrfolio-menu-section {
  padding-top: 96px;
}

/* ====================FOOTER==================== */
.page-end {
  background-color: var(--secondary-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-end-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tretiary-color);
  width: 264px;
  margin-top: 16px;
}
